$colorDarkest: #010014;
$colorBlack: #000233;
$colorBlackBlue: #171e54;
$colorBlue: #1d34a8;
$colorPrimary: #004fa8;
$colorSecondary: #1a76dc;
$colorLight: #1a76dc;
$colorLightest: #a0dfff;
$colorWhite: #ffffff;
